:root {
  --background-color: white;
  --outside-color: #A3948D;
  --text-color: #645D61;
  --accent: #22262C;
  --accent-hover: #965E3E;
  --link: #672407; 
}

* {
  box-sizing: border-box;
}

html {
    margin: .25vw;
    background: var(--outside-color)
}

a {
    color: var(--link); 
    font-weight: bold;
}

header a {
  color: inherit; 
  text-decoration: none;
}

header a:hover {
  color: var(--accent-hover);
}

body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Inconsolata', monospace;
    font-size: 12px;
    line-height: 1.65;
    padding: 2vw;
    text-align: center;
}

header {
    color: var(--accent);
}

h1 {
    font-weight: bold;
    font-size: 35px;
    margin: 1vw;
}

nav {
    display: flex; 
    justify-content: center;
    margin-top: -1vw;
    padding-bottom: 0;
    gap: 35px;
    color: var(--text-color);
    font-size: 13px;
}

nav a:hover {
  color: var(--accent-hover);
  text-decoration: underline dashed var(--accent);
  letter-spacing: 1px;
}

.back-nav {
  position: fixed;
  top: 3.5vw;
  left: 3vw;
  z-index: 10;
  font-size: 11px;
  opacity: 0.75;
  text-decoration: underline;
}

.back-nav a {
  font-family: 'Inconsolata', monospace;
  color: var(--text-color);
  text-decoration: none;
  font-weight: normal;
}

.back-nav a:hover {
  color: var(--accent-hover);
  text-decoration: underline dashed var(--accent);
  opacity: 1;
}

hr {
    border: none;
    border-top: 1px dashed var(--accent);
    width: 10%;
    margin: 1vw auto;
    padding-bottom: 1vw;
}

.text {
  max-width: 600px;
  margin: 0 auto;
}

.email {
    color: var(--accent);
}

.ascii-row {
  display: flex;
  gap: 50px;
}

.ascii {
  font-family: 'Inconsolata', monospace;
  font-size: 9px;
  line-height: 1.2;
  margin: 0;
}

.adornment {
  position: absolute;
  top: 6vw;
  right: 10vw;
  font-family: 'Inconsolata', monospace;
  font-size: 10px;
  line-height: 1.2;
  margin: 0;
  color: var(--text-color);
  z-index: 10;
}
